.chart-column-container{
	margin: 5px 0;
}

.chart-container text.title {
	text-transform: uppercase;
	font-size: 11px;
}

.dept-chart-container{
	background: #fff;
	border-radius: 10px;
	margin-top: -10px;
}

.chart-filter {
	position: relative;
	top: 5px;
	margin-right: 10px;
}

.filter-label {
	margin-right: 4px;
}

.bank{
	background: #fff;
	border-radius: 10px;
	height: 350px;
	overflow-y: scroll;
	padding: 15px;
}

.bank-card{
	background: #f4f5f7;
	border-radius: 10px;
    padding: 4px 15px 15px 15px;
    margin-bottom: 10px;
}

.doughnuts-p{
	background: #fff;
	border-radius: 10px;
	padding: 15px;
	height: 135px;
	text-align: center;
}

.doughnuts{
	background: #fff;
	border-radius: 10px;
	padding: 15px;
}


.inline-checkboxes { 
    display: inline-block; 
    margin:10px;
	}
	
.att {
	margin-left: 10px;
	font-size: 20px;
	text-align: center;
}

.att2 {
	margin-left: 10px;
	font-size: 30px;
}